* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  color: #fff;
  font-family: "NexonLv1Gothic";
  font-weight: 300;
  background-color: black;
}

/* Nav */
#nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 100px;
  top: 0%;
  left: 1%;
}

.nav__log img {
  width: 100%;
}

.nav a {
  margin: ;
  font-size: 100px;
}

.nav__menu {
  display: flex;
  list-style: none;
  padding: 10px;
}

.nav__menu li {
  font-size: 2vw;
  margin-right: 20px;
}

.nav__menu li a {
}

/*progressBar*/
.progressBar {
  width: 100%;
  height: 5px;
  position: fixed;
  display: inline-block;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
}

/* parallax__cont */
#parallaxcont {
  overflow: hidden;
  //max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

/* 스크롤 다운 애니메이션 */
.scroll__down {
  padding-top: 60px;
}

.scroll__down span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

/* 스크롤 다운 애니메이션 */
.scroll__down span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*텍스트 애니메이션*/
.parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*이미지 애니메이션*/
.parallax__item__picture__R {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
}

.parallax__item__picture__L {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: right;
  margin-left: 0;
  position: relative;
}

.parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56%;
  background: #000;
  position: relative;
  overflow: hidden;
}
.parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(100%);
  transition: all 1s;
}
.parallax__item__img:hover {
  filter: saturate(0%);
  transform: scale(1);
}
#section1 .parallax__item__img {
  background-image: url(assets/img/3D_Darts.png);
}
#section2 .parallax__item__img {
  background-image: url(assets/img/3D_Todos.png);
}

#section3 .parallax__item__img {
  background-image: url(assets/img/3D_Book.png);
}

.parallax__item__img:nth-child(1) {
  width: 50%;
  margin-left: 150px;
}

.parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

.parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

/* option */
#textAnimation .parallax__item__text {
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000;
  padding: 30px;
  width: 100%;
  text-align: center;
}
#zoomText {
  background-color: #111;
}

/* 프로젝트 */
.project__item__desc {
  font-size: 6vw;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  position: relative;
  word-break: keep-all;
}

.content__imgWrap {
  width: 100%;
  height: 75vh;
  background: #000;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content__image {
  width: 15vw;
  height: 15vw;
  margin-left: 10px auto;
  background-size: cover;
  background-position: center;
}

#project .content__image {
  background-image: url(assets/img/project01.png);
}

/* 놀이터 */
#playGround {
  margin-top: 5vh;
}

.playGround__item__desc {
  font-size: 6vw;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  position: relative;
  word-break: keep-all;
}

#playGround .content__image {
  background-image: url(assets/img/project01.png);
}

.footer {
  width: 100%;
  height: 100%;
  border-top: 3px solid #333;
  position: relative;
  bottom: 15%;
  left: 0;
}

.footer-contents {
  height: 20vh;
  align-itmes: center;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around
}

.layer-one {
  list-style: none;
  margin: 20px 0 20px 0; 
  font-size: 13px;
  font-style: normal;
  line-height: 30px;   
}

.layer-two {
  list-style: none;
  margin: 20px 0 20px 0;
  text-align: center;  
  font-size: 13px;
  font-style: normal;
  line-height: 30px; 
}  

/* font awesome */
i {
  font-size: 2.5rem;
  color: white;
  transition: all ease 1s;
}
i:hover {
  ease;
  color: orange;
  transition: all ease 1s;
}
